@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  color: white;
  background-color: #413659;
  text-align: center;
}

h1 {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 29px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 29px;
  text-align: center;
}

h3 {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 29px;
  text-align: center;
}

p {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29px;
  text-align: center;
}

ul {
  font-family: 'Nunito', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

li a {
  width: 150px;
  height: 100vh;
  color: white;
  display: block;
}

img {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%
}

/* Sidebar */
div {
  width: 150px;
  height: 100vh;
  text-align: center;
  background-color: #2d263e
}
div a {
  color: white;
  font-family: 'Nunito', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px;
  display: block;
  padding: 12px;
  text-decoration: none;
  display: inline;
}
div a:hover {
  background-color: #473a63;
}
