@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background-image: linear-gradient(to bottom, AliceBlue, MediumPurple);
}

h1 {
  font-family: 'Nunito', sans-serif; font-size: 29px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 29px;
}

h3 {
  font-family: 'Nunito', sans-serif; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 29px;
}

p {
  font-family: 'Nunito', sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29px;
}

blockquote {
  font-family: 'Nunito', sans-serif; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29px;
}

pre {
  font-family: 'Nunito', sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29px;
}

ul {
  font-family: 'Nunito', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
}

li a {
  display: block;
}
