@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px;
  text-align: center;
}

h1 {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 29px;
  text-align: center;
}

h3 {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29px;
  text-align: center;
  line-height: 1.5;
}

p {
  color: white;
  background-color: #413659;
  font-family: 'Nunito', sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29px;
  text-align: center;
}

.sidebar {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  background-color: #2d263e;
  width: 150px;
  height: 100vh;
  position: fixed;
}

.sidebar a {
  color: white;
  font-family: 'Nunito', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 5px;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #473a63;
}

.avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  position: relative;
  top: 20px;
  bottom: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.main {
  color: white;
  background-color: #413659;
  text-align: center;
  font-family: 'Nunito', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
  margin-left: 200px;
  margin-right: 50px;
  line-height: 1.5;
  text-decoration: none;
}
